@page
@model IndexModel  
@{
   Layout = "_LayoutLogin";
   ViewData["Title"] = "Login";
}  
    
<div class="container">
	<form method="post" class="form-signin">
        <label asp-for="Funcionario.Email" class="sr-only"></label>
        <input asp-for="Funcionario.Email" class="form-control" placeholder="Email" required autofocus>
        <label asp-for="Funcionario.Senha" class="sr-only">Senha</label>
        <input asp-for="Funcionario.Senha" type="password" class="form-control" placeholder="Senha" required>
		
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>